[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
"psycopg2" = "*"
pytz = "*"
python-slugify = "*"
redis = "*"
celery = "*"
flower = "*"
django-environ = "*"
django-model-utils = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-redis = "*"
coreapi = "*"
Django = {extras = ["argon2"], version = "*"}
Pillow = "*"
requests = "*"
drf-writable-nested = "*"
raven = "*"

[dev-packages]
django-debug-toolbar = "*"
pytz = "*"
python-slugify = "*"
redis = ">=2.10.5"
celery = "*"
flower = "*"
django-environ = "*"
django-model-utils = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-redis = "*"
djangorestframework = "*"
coreapi = "*"
ipdb = "*"
"psycopg2" = "*"
mypy = "*"
pytest = "*"
pytest-sugar = "*"
"flake8" = "*"
coverage = "*"
django-extensions = "*"
pytest-django = "*"
Pillow = "*"
Django = "*"
Werkzeug = "*"
Sphinx = "*"
factory_boy = "*"
django_coverage_plugin = "*"
"flake8-broken-line" = "*"
"flake8-commas" = "*"
"flake8-bandit" = "*"
"flake8-mypy" = "*"
"flake8-tuple" = "*"
pytest-coverage = "*"
pylint = "*"
pylint-django = "*"
pylint-celery = "*"
pycodestyle = "*"

[requires]
python_version = "3.7"
